/*////////////////////// Estilos generales //////////////////////*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161815;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*////////////////////// Estilo del botón //////////////////////*/
.btn {
    padding: 12px 24px;
    margin-top: 30px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: success;
}

/*////////////////////// Estilos de la barra de navegación //////////////////////*/
.navbar-brand {
    font-size: 23px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 20px;
}

/*////////////////////// Estilos del carrusel //////////////////////*/
.carousel {
    border-radius: 8px;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    max-height: 780px; /* Ajusta este valor según tus necesidades */
}

.carousel-content {
    position: absolute;
    border-radius: 15px;
    padding: 20px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo transparente oscuro */
}

.carousel-content h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white; /* Color del texto */
}

.carousel-content p {
    font-size: 1rem;
    color: white; /* Color del texto */
}

/*////////////////////// Estilos de la sección Servicios //////////////////////*/
.services {
    padding: 50px 0;
}

.servicios-contenedor, .habitaciones-contenedor{
    background-color: rgba(81, 150, 97, 0.2); /* Fondo transparente oscuro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 30px;
}

.card-body i {
    font-size: 40px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-body p {
    font-size: 16px;
}

/*////////////////////// Estilos de la sección Habitaciones //////////////////////*/
.portfolio h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.img-area img {
    width: 100%;
    border-radius: 10px;
}

.card-body lead {
    font-size: 16px;
}

/*////////////////////// Estilos de la sección Contacto //////////////////////*/
.contact {
    padding: 50px 0;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 15px;
}

/*////////////////////// Estilos del formulario //////////////////////*/
.form-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #495057;
}

.container-fluid.bg-success {
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/*////////////////////// Estilos del footer //////////////////////*/
footer {
    padding: 10px 0;
}


/*////////////////////// Estilos responsivos //////////////////////*/
@media (max-width: 767px) {
    /* Estilos de la barra de navegación en dispositivos móviles */
    .navbar-brand {
        font-size: 18px;
    }

    .navbar-nav .nav-link {
        font-size: 15px;
        margin-right: 8px;
    }

    /* Estilos de la sección "Servicios" en dispositivos móviles */
    .services h2 {
        font-size: 24px;
    }

    .card-body i {
        font-size: 30px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-body p {
        font-size: 14px;
    }

    /* Estilos de la sección "Habitaciones" en dispositivos móviles */
    .portfolio h2 {
        font-size: 24px;
    }

    .card-body lead {
        font-size: 14px;
    }

    /* Estilos de la sección "Contacto" en dispositivos móviles */
    .contact h2 {
        font-size: 24px;
    }

    /* Estilos del carrusel en dispositivos móviles */
    .carousel-content {
        padding: 5px;
    }

    .carousel-content h3 {
        font-size: 1rem;
        margin-bottom: 6px;
    }

    .carousel-content p {
        font-size: 0.7rem;
    }
}