/* Estilos generales */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #161815;
    color: white;
    margin-top: 56px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el alto mínimo al 100% de la altura visible del viewport */
}

a {
    text-decoration: none;
    color: #20aa25;
}

.color-hotel,
.nav-item a:hover {
    color: #48A04B;
}

/* Estilo del botón */
.btn {
    padding: 12px 24px;
    margin-top: 30px;
    color: #fff;
    background: #48A04B;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #20aa25;
}

/* Estilos de la barra de navegación */
header {
    padding-bottom: 40px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 16px;
    margin-right: 20px;
}

/* Estilos del carrusel */
.carousel {
    border-radius: 8px;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    max-height: 872px; /* Ajusta este valor según tus necesidades */
}

.carousel-content {
    position: absolute;
    border-radius: 15px;
    padding: 20px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo transparente oscuro */
}

.carousel-content h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white; /* Color del texto */
}

.carousel-content p {
    font-size: 1rem;
    color: white; /* Color del texto */
}

/* Estilos de la sección Servicios */
.services {
    padding: 40px 10px;
    max-height: 100%;
}

.servicios-contenedor,
.habitaciones-contenedor {
    background-color: rgba(72, 160, 75, 0.3); /* Fondo transparente oscuro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.card-body i {
    font-size: 40px;
    margin-bottom: 30px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.card-body p {
    font-size: 16px;
}

/* Estilos de la sección Habitaciones */
.portfolio {
    padding: 40px 10px;
}

.portfolio h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.img-area img {
    width: 100%;
    border-radius: 10px;
}

.card-body lead {
    font-size: 16px;
}

/* Estilos de la sección Contacto */
.contact {
    padding: 20px 10px;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

/* Estilos del formulario */
.form-section {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    max-width: 1200px;
    margin:  auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.form-control {
    padding: 10px;
}

.container-fluid.bg-success {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos responsivos */
@media (max-width: 767px) {
    body{
        margin-top: 0px;
    }
    /* Estilos de la barra de navegación en dispositivos móviles */
    .navbar-brand {
        font-size: 14px;
    }

    .navbar-brand img {
        width: 60px;
        height: 60px;
    }

    .navbar-toggler {
        padding: 0;
        font-size: 16px;
    }

    .navbar-nav .nav-link {
        font-size: 15px;
        margin-right: 8px;
    }

    /* Estilos de la sección "Servicios" en dispositivos móviles */
    .services {
        margin: 0px;
        padding: 0px;
    }

    .services h2 {
        font-size: 20px;
        
    }
    .services p{
        font-size: 14px;
    }

    .card-body i {
        font-size: 30px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-body p {
        font-size: 14px;
        padding-bottom: 5px;
    }

    /* Estilos de la sección "Habitaciones" en dispositivos móviles */
    .portfolio h2 {
        font-size: 20px;
    }
    .portfolio  {
        margin: 0px;
        padding-top: 25px;
    }
    .portfolio p{
        font-size: 14px;
    }

    .card-body lead {
        font-size: 14px;
    }

    /* Estilos de la sección "Contacto" en dispositivos móviles */
    .contact h2 {
        font-size: 20px;
    }
    .contact p {
        font-size: 14px;
    }

    /* Estilos del carrusel en dispositivos móviles */
    .carousel-content {
        padding: 5px;
    }

    .carousel-content h3 {
        font-size: 1rem;
        margin-bottom: 6px;
    }

    .carousel-content p {
        font-size: 0.7rem;
    }
}


/* -------------------------- Estilos para la pagina Habitaciones-------------------------- */


/* Agrega una clase para ocultar elementos */
.oculto {
    display: none;
}


/* Ajusta la altura del cuerpo de la tarjeta según el contenido */
.card-body {
    height: 50%; /* Puedes ajustar este valor según tus necesidades */
    overflow: hidden; /* Evita que el contenido desborde */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #contenedor-de-tarjetas {
    display: flex;
    flex-wrap: wrap;
} */


.btn.disabled {
    pointer-events: none; /* Deshabilita los clics y el hover */
    opacity: 0.6; /* Hace que el botón parezca deshabilitado */
}

.titulo-busqueda{
    margin-top: 20px;
    margin-bottom: 20px;
}


/* -------------------------- Estilos para el carrito del aside-------------------------- */

.container-habitaciones-checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px 0;
    background-color: #161815;
    color: black;

}

.reservation-cart-container_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #161815;
    padding: 30px;
    background-color: #f9f9f9; /*controla el fondo del carrito*/
    display: none;
}

.reservation-cart-container_body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    padding-bottom: 0px;
    /* background-color: red */
}

.reservation-cart-container_header {
    text-align: center;
    margin-bottom: 20px;
}

.reservation-cart-container_hotelDetails{
    margin-top: 1px;
    padding: 5px;
    border-bottom: 1px solid #161815;
}

.reservation-cart-container_productsList {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid #161815;
    /*esto es un list no un div*/
}

.reservation-cart-container_productDetails{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.reservation-cart-container_dates{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5px;
}
.reservation-cart-container_guests{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5px;
}

.reservation-cart-container_roomRate{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5px;
}

.reservation-cart-container_price{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5px;

}
.price-summary_container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 0px;
    /* background-color: #ad1d1d; */
}
.reservation-cart-container_taxesAndFeesHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;
    /* background-color: #ad1d1d; */
}

.agregarHabitacion{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 80%;
    display: none;
}

