/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161815;
    color: white;
    margin-top: 56px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #48A04B;
}

.color-hotel,
.nav-item a:hover {
    color: #48A04B;
}



/* Estilo del botón */
.btn {
    padding: 12px 24px;
    margin-top: 30px;
    color: #fff;
    background: #48A04B;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #53a118;
    transition: 0.4s;
}

/* Estilos de la barra de navegación */
header {
    padding-bottom: 40px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 16px;
    margin-right: 20px;
}

/* Estilos del carrusel */
.carousel {
    overflow: hidden;
}

.carousel-item {
    position: relative;
    max-height: 872px; /* Ajusta este valor según tus necesidades */
}

.carousel-content {
    position: absolute;
    border-radius: 10px;
    padding: 20px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo transparente oscuro */
}

.carousel-content h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white; /* Color del texto */
}

.carousel-content p {
    font-size: 1rem;
    color: white; /* Color del texto */
}

.form-label{
    font-size: 13px;
}

/* Estilo para el fomulario buscar */
#buscarForm {
    margin: 10px 5px;
}

.contenedor-buscar-h{
    box-shadow: 1px 20px 40px rgba(42, 101, 37, 0.2);
    border-radius: 10px;
    padding: 5px 25px;
    border: 1px solid #4b4b4b;
}

/* Estilo para los títulos del formulario */
#buscarForm h2 {
    color: #48A04B; /* Verde claro */
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: 23px;
  }

/* Estilo para las etiquetas del formulario */
#buscarForm .form-label {
    font-weight: bold;
    color: #b0b0b0; /* Texto gris claro */
}

/* Estilo para los campos de entrada */
#buscarForm .form-control {
    width: 100%;
    margin: 11px 0px;
    padding: 8px;
}

/* Estilo para el botón de búsqueda */
#buscarForm .btn {
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}

/* Estilo para el contenedor de edades de niños */
#buscarForm #edades-niños-container {
    margin-top: 15px;
}

/* Estilo para las filas del formulario */
#buscarForm .row {
    margin-bottom: 5px;
}

/* Estilo para el contenedor general del formulario */
#buscarForm .container {
    margin: 20px auto;
}

/* Estilos de la sección Servicios */
.services {
    padding: 20px;
    margin: 100px 20px;
}

.servicios-contenedor,
.habitaciones-contenedor {
    padding: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}

.servicios-contenedor h2,
.habitaciones-contenedor h2 {
    color: #48A04B;
}


.services h2,.portfolio h2 {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card{
    border: 2px solid #4b4b4b;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 95%;
}

.card-body i {
    font-size: 40px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.card-body p {
    font-size: 16px;
}

/* Estilos de la sección Habitaciones */
.portfolio {
    padding: 20px;
    margin: 100px 20px;
}
.portfolio button {
    margin: 10px;
    padding: 10px;
}

.img-area img {
    width: 100%;
    border-radius: 10px;
}

.card-body lead {
    font-size: 16px;
}



/* Estilos de contacto */
.contact {
    padding: 60px 0;
    margin: 10px;
    color: #fff;
}

.contact .section-header h2 {
    margin-bottom: 30px;
    font-weight: bold;
    color: #48A04B; /* White */
}

.contact p {
    margin-bottom: 25px;
    color: #cccccc; /* Light Gray */
}

.contact .form-control {
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #1a1a1a; /* Dark Gray */
    border-radius: 8px;
    background-color: #2a2a2a; /* Dark Gray */
    font-size: 16px;
    color: #cccccc9b; /* Color del placeholder deseado */

}

.contact .form-control::placeholder {
    color: #ccccccb9; /* Color del placeholder deseado */
    }


.contact .btn-lg {
    padding: 10px 80px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}


.contact-form-container {
    background-color: #1a1a1a; /* Dark Gray */
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.608);
}

/* Estilos para el input de tipo radio cuando está seleccionado */
.form-check-input:checked {
    background-color: #20aa25;
    border-color: #20aa25;
    box-shadow: 0 0 0 1px #48A04B;
  }
  
  /* Estilos para el input de tipo radio al hacer clic */
  .form-check-input:active {
    background-color: #ffff;
    border-color: #20aa25;
    box-shadow: 0 0 0 1px #20aa25;
  }
  
  /* Cambia el color del borde al seleccionar un campo de formulario */
  input:focus{
      border-color: #20aa25; /* Cambia el color del borde a rojo */
      outline: none; /* Quita el contorno predeterminado que algunos navegadores agregan al enfocar un campo */
  }



/* Estilos responsivos */
@media (max-width: 767px) {
    body{
        margin-top: 0px;
    }
    /* Estilos de la barra de navegación en dispositivos móviles */
    .navbar-brand {
        font-size: 14px;
    }

    .navbar-brand img {
        width: 60px;
        height: 60px;
    }

    .navbar-toggler {
        padding: 0;
        font-size: 16px;
    }

    .navbar-nav .nav-link {
        font-size: 15px;
        margin-right: 8px;
    }

    .form-section{
        padding: 15px;
    }

    /* Estilos de la sección "Servicios" en dispositivos móviles */
    .services {
        margin: 7px;
        padding: 0px;
    }

    .services h2 {
        font-size: 20px;
        
    }
    .services p{
        font-size: 14px;
    }

    .card-body i {
        font-size: 30px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-body p {
        font-size: 14px;
        padding-bottom: 5px;
    }

    /* Estilos de la sección "Habitaciones" en dispositivos móviles */

    .portfolio {
        margin: 7px;
        padding: 0px;
    }

    .portfolio h2 {
        font-size: 20px;
    }

    .portfolio p{
        font-size: 14px;
    }

    .card-body lead {
        font-size: 14px;
    }

    /* Estilos de la sección "Contacto" en dispositivos móviles */
    .contact {
        padding: 30px 0;
        margin: 0px;
    }
    
    .contact h2 {
        font-size: 15px;
    }
    .contact p {
        font-size: 12px;
    }
    
    .datos-legales, h5,.form-check{
        font-size: 13px;
    }

    .datos-legales, p, a{
        font-size: 10px;
    }

    .contact .form-control {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 13px;    
    }

    .contact .btn-lg{
        padding: 8px 30px;
        font-size: 14px;
    }

    .contact-form-container {
        padding: 13px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.608);
    }

    /* Estilos del carrusel en dispositivos móviles */
    .carousel-content {
        padding: 5px;
    }

    .carousel-content h3 {
        font-size: 1rem;
        margin-bottom: 6px;
    }

    .carousel-content p {
        font-size: 0.7rem;
    }
}


/* -------------------------- Estilos para la pagina Habitaciones-------------------------- */

/* Agrega una clase para ocultar elementos */
.oculto {
    display: none;
}


/* Ajusta la altura del cuerpo de la tarjeta según el contenido */
.card-body {
    height: 50%; /* Puedes ajustar este valor según tus necesidades */
    overflow: hidden; /* Evita que el contenido desborde */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #contenedor-de-tarjetas {
    display: flex;
    flex-wrap: wrap;
} */


.btn.disabled {
    pointer-events: none; /* Deshabilita los clics y el hover */
    opacity: 0.6; /* Hace que el botón parezca deshabilitado */
}

.text-habitaciones{
    background-color: #48a04b4d;
    padding: 40px 0px 10px 0px;

}

.titulo-busqueda{
    margin-top: 20px;
    margin-bottom: 20px;
}


/* -------------------------- Estilos para el carrito del aside-------------------------- */

.container-habitaciones-checkout {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Corregido */
    padding: 20px;
    margin: 20px 0;
    background-color: #161815;
    color: white; /* Corregido */
}

.aside-reservation {
    height: auto; /* Ajustado a altura automática */
    overflow: auto; /* Añadido desplazamiento automático */
}

.reservation-cart-container_box {
    color: #fff;
    background-color: #4d4d4d44;
    border-radius: 10px;
    padding: 15px;
    display: none; /* Ajustado */
    flex-direction: column; /* Ajustado */
}

.reservation-cart-container_body {
    padding: 12px;
    padding-bottom: 0;
}

.reservation-cart-container_header {
    text-align: center;
}

.reservation-cart-container_hotelDetails {
    margin-top: 5px;
    padding: 5px;
    border-bottom: 1px solid #20aa25;
}

.reservation-cart-container_productsList {
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 1px solid #20aa25;
    /* Eliminada la propiedad list-style-type */
}

.reservation-cart-container_productDetails,
.reservation-cart-container_dates,
.reservation-cart-container_guests,
.reservation-cart-container_roomRate,
.reservation-cart-container_price {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5px;
}

.price-summary_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 9px;
    padding-top: 0;
}

.reservation-cart-container_taxesAndFeesHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;
}

.reservation-button {
    text-align: center;
}

.disabled {
    pointer-events: none;
    color: gray;
}

.contenedor-huesped{
    background-color: #4d4d4d44;
}